__pycache__/
*.pyc
*.pyo
.DS_Store
data/
results/
/venv
.vscode
spam_classifier.pkl
best_spam_classifier.pkl
logistic_regression_model.pkl
notebooks/processed_emails.csv
testing/credentials.json
token.pickle
re_logistic_regression_model.pkl
re_complement_naive_bayes_model.pkl
tokens
credentials.json
testing/re_complement_naive_bayes_model.pkl
testing/spam_classifier.pkl
testing/re_logistic_regression_model.pkl

